version: '3.8'

services:
  nginx:
    build: ./nginx
    ports:
      - 1337:80
    depends_on:
      - web
    volumes:
      - media_volume:/usr/src/djangobackend/media

  web:
    build: ./djangobackend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./djangobackend/:/usr/src/djangobackend/
    ports:
      - 8000:8000
    env_file:
      - ./.env.dev
    depends_on:
      - db
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env.dev

volumes:
  postgres_data:
  media_volume:
  